.feedback {
  padding: 0 8rem;
  padding-top: 12rem;

  .feedback__container {
    display: flex;
    gap: 2rem;
    min-height: 610px;

    .feedback__overview {
      max-width: 370px;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      padding-top: 10rem;
      flex: 0.4;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.04) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      border: 1px solid #6a6a6a;
      border-radius: 32px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .feedback__name {
        font-family: "Eudoxus Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.02em;

        color: #ffffff;
      }

      .feedback__post {
        margin-top: 1rem;
        font-family: "Eudoxus Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        /* identical to box height */

        letter-spacing: -0.02em;

        color: #ffffff;
      }

      .feedback__description {
        margin-top: 1.5rem;
        font-family: "Eudoxus Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 190%;
        /* or 46px */

        letter-spacing: -0.02em;

        color: #ffffff;
      }
    }

    .feedback__world {
      flex: 1;
      display: flex;
      .feedback__img {
        border-radius: 32px;
        object-fit: cover;
      }
    }
  }
}
