.get-started {
  padding: 0 8rem;
  padding-top: 12rem;

  .get-started__container {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .get-started__img-cont {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      width: 100%;
    }
  }

  .get-started__text-cont {
    flex: 0.6;
    display: flex;
    // padding-top: 4rem;
    gap: 1rem;
    flex-direction: column;

    .get-started__info {
      // width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
